{% extends 'base.html.twig' %}

{% block title %}| Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="row bg-register">
        <div class="col-lg-6 offset-lg-3 col-md-10 offset-md-1 col-sm-12 block-overlay my-5">
            <h1 class="text-center my-2">Formulaire d'inscription</h1>
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword) }}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
                    <div class="col-md-6 mb-3">
                        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                    </div>
                </div>
                <small>* Champs Obligatoires</small>
                {{ form_row(registrationForm.save) }}
            {{ form_end(registrationForm)}}
        </div>
    </div>
    

{% endblock %}
{% block stylesheets %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}