{% extends 'base.html.twig' %}

{% block title %}| Accueil{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}


<!--Bannière avec message d'accueil-->
<div class="row banner">
  <div class="col banner-text banner-overlay">
    <h1 class="col text-center mt-4 text-light">Bienvenue sur Elec-G.fr !!</h1>
    <p class="col text-light text-center">Les devis sont gratuits !!</p>
  </div>
</div>

<!--Section de présentation de la société-->
<section id="prestation" class="row bg-light text-dark">
  <div class="col-12 banner-overlay mb-2">
    <h2 class="text-center my-3">Présentation de la société et de ses prestations</h2>
    <p class="text-center">Elec-G est une société d'électricité générale, vous pouvez voir ci-dessous toutes mes prestations</p>
  </div>
    <div class="col">
        <!--Présentations des prestations sous forme de carte Bootstrap-->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
            <div class="col mb-3">
              <div class="card bg-dark text-white">
                <img src="images/boulangerie.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="prestation-title card-title text-center">Installation</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda libero qui deleniti quasi sunt dolores cupiditate modi? Excepturi, omnis accusamus rerum at facere veniam quaerat odio incidunt optio. Natus, corrupti.</p>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card bg-dark text-white">
                <img src="images/compteur_electrique.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="prestation-title card-title text-center">Rénovation</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae impedit atque tenetur doloremque error facere nobis dolor, soluta non molestias fuga quia placeat blanditiis quam optio. Ratione delectus voluptatibus nisi?</p>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card bg-dark text-white">
                <img src="images/electrician-1968983_1920.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="prestation-title card-title text-center">Dépannage</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatem, rerum repellat praesentium quisquam minima voluptas cumque perspiciatis dolorum maiores nisi consequuntur maxime explicabo reiciendis animi harum veritatis sed. Ipsa?.</p>
                </div>
              </div>
            </div>
            <div class="col mb-3">
                <div class="card bg-dark text-white">
                  <img src="images/Motorisation-Portail-Battant-BSR-002.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h3 class="prestation-title card-title text-center">Automatisme</h3>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatem, rerum repellat praesentium quisquam minima voluptas cumque perspiciatis dolorum maiores nisi consequuntur maxime explicabo reiciendis animi harum veritatis sed. Ipsa?.</p>
                  </div>
                </div>
            </div>
            <div class="col mb-3">
              <div class="card bg-dark text-white">
                <img src="images/smart-home-3920905_1920.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="prestation-title card-title text-center">Domotique</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatem, rerum repellat praesentium quisquam minima voluptas cumque perspiciatis dolorum maiores nisi consequuntur maxime explicabo reiciendis animi harum veritatis sed. Ipsa?.</p>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card bg-dark text-white">
                <img src="images/cctv-4440994_1920.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="prestation-title card-title text-center">Télésurveillance</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam voluptatem, rerum repellat praesentium quisquam minima voluptas cumque perspiciatis dolorum maiores nisi consequuntur maxime explicabo reiciendis animi harum veritatis sed. Ipsa?.</p>
                </div>
              </div>
            </div>
            <div class="col mb-3">
              <div class="card bg-dark text-white">
                <img src="images/coffret-de-chantier-pre-equipe-monophase-triphase.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h3 class="prestation-title card-title text-center">Location de coffrets de chantier</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa odio dolorem in incidunt dignissimos. Nisi, ea eos, consequuntur dolores voluptate odit repellendus obcaecati suscipit necessitatibus excepturi dolore, rerum odio nostrum.</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</section>

<!--Section des avis-->
<section id="opinion" class="row text-light">
  <div class="col-12">
    <h2 class="text-center my-3">Avis des clients Elec-G</h2>
    {# Boucle permettant d'afficher les avis publiés(Grâce à la pagination, il y a 5 avis par page à la fois et le site ne plantera pas à cause d'un trop grand nombre d'avis à charger à la fois) et si il n'y a pas d'avis à afficher, Un message s'affichera #}
    {% if opinions is empty %}
      <!--Message indiquant qu'aucun avis n'a été publié-->
      <p class="alert alert-danger">Aucun avis n'a été posté pour le moment</p>
    {% else %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
      {% for opinion in opinions %}
      <div class="col mb-3">
        <div class="card border-dark">
          <div class="card-header">
            <p class="text-info"><i class="fas fa-user mx-1"></i> {{ opinion.author.firstname }} {{ opinion.author.lastname }}</p>
            <p class="text-primary">
              {% if opinion.mark >= 3 %}
                <strong class="text-success">{{ opinion.mark }}</strong>/5
              {% else %}
                <strong class="text-danger">{{ opinion.mark }}</strong>/5
              {% endif %}
            </p>
          </div>
          <div class="card-body text-info">
            <h3 class="card-title">{{ opinion.title }}</h3>
            <p class="card-text">{{ opinion.content|purify }}</p>
            <p>Publié le <strong>{{ opinion.publicationDate|date('d/m/Y à H\\hi') }}</strong></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
      <div class="my-3 text-center">
        <div class="d-inline-block">
            {# Affichage du menu permettant de naviguer entre les différentes pages d'avis #}
            {{ knp_pagination_render(opinions) }}
        </div>
    </div>
    <!--<a class="col-sm-4 offset-sm-4 col-md-2 offset-md-5 btn btn-primary" href="">Voir tous les avis</a>-->
    <hr>
  </div>
  <div class="col-12 block-overlay">
    <h2 class="text-center">Donnez votre avis</h2>
    {% if app.user %}
      <div class="col-lg-6 offset-lg-3 col-md-12">
        {{form_start(opinionForm)}}
        <div class="row">
          <div class="col-md-10 mb-1">
              {{ form_row(opinionForm.title) }}
          </div>
          <div class="col-md-2 mb-8">
              {{ form_row(opinionForm.mark) }}
          </div>
        </div>
        {{form_row(opinionForm.content)}}
        {{form_end(opinionForm)}}
      </div>
    {% else %}
      <div class="alert alert-danger">
        <p class="text-danger text-center">Vous devez être connecté pour accéder à cette fonctionnalité</p>
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}