{% set currentRoute = app.request.attributes.get('_route') %}
<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Elec-G {% block title %}{% endblock %}</title>
        <!--Inclusions des fichiers CSS-->
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <!--Inclusion du fichier CSS minifié de Bootstrap-->
        <link rel="stylesheet" href="{{ asset('css/Bootstrap-css/bootstrap.min.css') }}">
        <!--Inclusion de font awesome-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <!--Navbar-->
            <nav class="row navbar navbar-expand-lg navbar-dark bg-elec-g">
                <a class="links navbar-brand" href="{{path('accueil')}}">Elec-G</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item{{ currentRoute == 'contactez_nous' ? ' active' : '' }}">
                            <a class="links nav-link" href="{{ path('contactez_nous') }}" tabindex="-1" aria-disabled="true">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                        {# Boutons si l'utilisateur est connecté #}
                        {% if app.user %}

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="profil-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user mx-1"></i>{{ app.user.firstname }} {{app.user.lastname}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="profil-dropdown">
                                {# Bouton vers l'administration si l'utilisateur possède le rôle admin #}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="links text-danger dropdown-item" href="{{ path('easyadmin') }}"><i class="fas fa-tools mr-1"></i>Administration</a>
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="links dropdown-item" href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt mr-1"></i>Déconnexion</a>
                            </div>
                        </li>

                        {% else %} {# Boutons si l'utilisateur n'est pas connecté #}
                        <li class="nav-item mr-3">
                        <a class="btn btn-outline-light" href="{{ path('app_register')}}" class="nav-link">S'inscrire</a>
                        </li>
                        <li class="nav-item">
                        <a class="btn btn-outline-light" href="{{path('app_login')}}" class="nav-link">Se connecter</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            {% block body %}{% endblock %}
            <!--Pied de page-->
            <footer class=" row bg-dark">
                <div class="col-12">
                    <h3 class="text-center my-3 text-light">À propos d'Elec-G</h3>
                    <nav id="row about-elecg">
                        <ul>
                            <li><a href="">Mentions légales</a></li>
                            <li><a href="">Politique de confidentialité</a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </nav>
                </div>
            </footer>

        <!--Inclusions des fichiers JS-->
        <script src="{{asset('js/jQuery.js')}}"></script>
        <script src="{{asset('js/Popper.js')}}"></script>
        <script src="{{asset('js/Bootstrap-js/bootstrap.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
